extends layout

block content

    .container
        .text-center
            h2 Projects
                p
                | a couple of thing I have been tampering with - will keep updating
                .width.row
                  .col-md-4.col-12.col-sm-6.text-center.pre-figure
                    a(href='https://bjarnesoerensen.github.io/marvel_api/')
                      figure
                        img.img-fluid(src='images/tinymarvel.png', alt='marvel api')
                      span Marvel API
                  .col-md-4.col-12.col-sm-6.text-center.pre-figure
                    a(href='about.html')
                      figure
                        img.img-fluid(src='images/webpage2.jpeg', alt='website link')
                      span 30 Day with Vanilla JS
                  .col-md-4.col-12.col-sm-6.text-center.pre-figure
                    a(href='about.html')
                      figure
                        img.img-fluid(src='images/nodeJS.jpg', alt='website link')
                      span NodeJS Store
                  .col-md-4.col-12.col-sm-6.text-center.pre-figure
                    a(href='https://bjarnesoerensen.github.io/Todo-List/')
                      figure
                        img.img-fluid(src='images/todo.jpg', alt='website link')
                      span Todo-List Javascript
                  .col-md-4.col-12.col-sm-6.text-center.pre-figure
                    a(href='about.html')
                      figure
                        img.img-fluid(src='images/webpage5.jpg', alt='website link')
                      span Under Construction
                  .col-md-4.col-12.col-sm-6.text-center.pre-figure
                    a(href='index.html')
                      figure
                        img.img-fluid(src='images/background.jpeg', alt='website link')
                      span Under Construction
